.container {
  font-size: larger;
  margin: 100px auto;
  width: 70%;
}
section {
  margin-top: 50px;
  margin-bottom: 50px;
}
header {
  text-align: center;
  padding: 20px;
  background-color: #7d7c7c;
  color: white;
}

#ABOUT {
  background-color: #b3ff8e;
}

#Planting-Advice {
  background-color: #97ca95;
}

#name-meaning {
  background-color: #85916e;
}

header h1 {
  font-family: "Arial", sans-serif;
  text-shadow: 2px 2px 4px #0be196;
}

h2 {
  font-family: "Arial", sans-serif;
  text-shadow: 6px 10px 6px #717c28;
  font-size: 42px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  transition: color;
  color: rgb(73, 53, 133);
}
h2:hover {
  color: #00b362;
  text-shadow: 12px 20px 12px #717c28;
}
.text-box p {
  font-size: 25px;
}

.text-box img {
  float: left;
  height: 150px;
  border-radius: 10px;
  margin-right: 20px;
}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(143, 250, 155);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 200px;
  height: 320px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
}

.card p {
  margin: 10px;
  text-align: center;
}
.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(100, 100, 195);
  color: rgb(119, 249, 214);
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #333;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  display: block;
  color: rgb(119, 249, 214);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: black;
  background-color: #555;
}
footer {
  background-image: url("image/KIWI\ BACKGROUND.webp");
  background-position: center;
  background-size: cover;
  padding: 50px;
  position: relative;
}

.footer-nav {
  position: absolute;
  top: 0;
  width: 100%;
}

.footer-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer-nav li {
  margin-right: 20px;
}

.footer-nav a {
  font-size: 20px;
  width: 100%;
  padding: 30px;
  text-align: center;
  transition: color;
  color: rgb(6, 209, 255);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
